<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Book</title>
    <link rel="stylesheet" href="css/minireset.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/cart.css" />
    <link rel="stylesheet" href="css/bookManger.css" />
    <link rel="stylesheet" href="css/register.css" />
    <link rel="stylesheet" href="css/book_edit.css" />
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{/index}">
            <img src="img/logo.png" alt=""/></a>
          <h1>Edit Book</h1>
        </div>
        <div class="header-right" th:replace="common::header_right"/>
      </div>
    </div>
    <div class="login_banner">
      <div class="register_form">
        <form th:action="@{/editBook}" method="post">
          <div class="form-item">
            <div>
              <label>Book Name</label>
              <input type="text" name="bookName" placeholder="Please enter the book name" th:value="${session.book.bookName}">
            </div>
            <span th:text="${bookNameMsg}" style="color:red">bookName</span>
          </div>
          <div class="form-item">
            <div>
              <label>Price</label>
              <input type="number" name="price" th:value="${session.book.price}" placeholder="Please enter the price" >
            </div>
            <span th:text="${priceMsg}" style="color:red">price</span>
          </div>
          <div class="form-item">
            <div>
              <label>Author</label>
              <input type="text" name="author" placeholder="Please enter the author" th:value="${session.book.author}">
            </div>
            <span th:text="${authorMsg}" style="color:red">author</span>
          </div>
          <div class="form-item">
            <div>
              <label>Sales</label>
              <input type="number" name="saleCount" placeholder="Please enter the sales" th:value="${session.book.saleCount}">
            </div>
            <span th:text="${saleCountMsg}" style="color:red">sales</span>
          </div>
          <div class="form-item">
            <div>
              <label>Stock</label>
              <input type="number" name="bookCount" placeholder="Please enter the stock" th:value="${session.book.bookCount}">
            </div>
            <span th:text="${bookCountMsg}" style="color:red">stock</span>
            <br/>
          </div>

          <input type="submit" value="Submit" id="sub_btn" />
        </form>
      </div>
    </div>
    <div th:replace="common::bottom"/>
  </body>
</html>
