<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Book</title>
    <link rel="stylesheet" href="css/minireset.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/cart.css" />
    <link rel="stylesheet" href="css/bookManger.css" />
    <link rel="stylesheet" href="css/register.css" />
    <link rel="stylesheet" href="css/book_edit.css" />
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{/index}">
            <img src="img/logo.png" alt=""/></a>
          <span>Add Book</span>
        </div>
        <div class="header-right" th:replace="common::header_right"/>
      </div>
    </div>
    <div class="login_banner">
      <div class="register_form">
        <form th:action="@{/addBook}" method="post">
          <div class="form-item">
            <div>
              <label>Book Name:</label>
              <input type="text" name="bookName" placeholder="Please enter the book name" />
            </div>
            <span th:text="${bookNameMsg}" style="color:red">bookName</span>
          </div>
          <div class="form-item">
            <div>
              <label>Current Price</label>
              <input type="number" name="price" placeholder="Please enter the current price" >
            </div>
            <span th:text="${currPriceMsg}" style="color:red">price</span>
          </div>
          <div class="form-item">
            <div>
              <label>Original Price</label>
              <input type="number" name="price" placeholder="Please enter the price" >
            </div>
            <span th:text="${origPriceMsg}" style="color:red">price</span>
          </div>
          <div class="form-item">
            <div>
              <label>Author:</label>
              <input type="text" name="author" placeholder="Please enter the author" />
            </div>
            <span th:text="${authorMsg}" style="color:red">author</span>
          </div>
          <div class="form-item">
            <div>
              <label>Sales:</label>
              <input type="number" name="saleCount" value="0" placeholder="Please enter the sales" />
            </div>
            <span th:text="${saleCountMsg}" style="color:red">sales</span>
          </div>
          <div class="form-item">
            <div>
              <label>Stock:</label>
              <input type="number" name="bookCount" value="0" placeholder="Please enter the stock" />
            </div>
            <span th:text="${bookCountMsg}" style="color:red">stock</span>
          </div>
          <div class="form-item">
            <div>
              <label>Category:</label>
              <input type="text" name="category" placeholder="Please enter the category" />
            </div>
            <span th:text="${categoryMsg}" style="color:red">category</span>
          </div>
          <div class="form-item">
            <div>
              <label>Book Status:</label>
              <select name="bookStatus" style="float: left">
                <option th:value="0" selected>Not On Sale</option>
                <option th:value="1">On Sale</option>
              </select>
            </div>
            <span th:text="${saleCountMsg}" style="color:red">sales</span><br>
          </div>

          <input type="submit" value="Submit" id="sub_btn" />
        </form>
      </div>
    </div>
    <div th:replace="common::bottom"/>
  </body>
</html>
