<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Backstage Management</title>
<link type="text/css" rel="stylesheet" href="/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>
	
	<div id="header">
			<img class="logo_img" alt="" src="/img/logo.png" >
			<span class="wel_word">Backstage Management System</span>
			<div th:replace="common::header_manager"/>
	</div>
	
	<div id="main">
		<h1>Welcome to the management system</h1>
		<div><a th:href="@{/toBookManagerPage}">Book Management</a></div>
		<div><a th:href="@{/toOrderManagerPage}">Order Management</a></div>
		<div><a th:href="@{/index}">Main Page</a></div>
	</div>

	<div th:replace="common::bottom"/>
</body>
</html>