<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Management</title>
    <link rel="stylesheet" href="/css/minireset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/cart.css" />
    <link rel="stylesheet" href="/css/bookManger.css" />
    <link rel="stylesheet" href="/css/orderManger.css" />
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{/index}">
            <img src="/img/logo.png" alt=""/></a>
          <h1>Order Management System</h1>
        </div>
        <div th:replace="common::header_manager"/>
      </div>
    </div>
    <div class="list">
      <div class="w">
        <table>
          <thead>
            <tr>
              <th>Order No</th>
              <th>Order Date</th>
              <th>Order Price</th>
              <th>Order Quantity</th>
              <th>Order Details</th>
              <th>Order Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>12354456895</td>
              <td>
                2015.04.23
              </td>
              <td>90.00</td>
              <td>88</td>
              <td><a href="">Details</a></td>
              <td><a href="" class="send">Waiting for shipment</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="bottom" th:replace="common::bottom_main"/>
  </body>
</html>
