<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Backstage Management</title>
	<link rel="stylesheet" href="/css/minireset.css" />
	<link rel="stylesheet" href="/css/common.css" />
	<link rel="stylesheet" href="/css/cart.css" />
	<link rel="stylesheet" href="/css/bookManger.css" />
<link type="text/css" rel="stylesheet" href="/css/style.css" >
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>

<div class="header">
	<div class="w">
		<div class="header-left">
			<a th:href="@{/index}">
				<img src="/img/logo.png" alt=""/></a>
			<span>Book Management System</span>
		</div>
		<div th:replace="common::header_manager"/>
	</div>
</div>
	
	<div id="main">
		<h1>Welcome to the management system<br/><br>
			<ul>
				<li><a th:href="@{/toBookManagerPage}" class="btn-primary">Book Management</a></li><br>
				<li><a th:href="@{/toOrderManagerPage}" class="btn-primary">Order Management</a></li>
			</ul>
		</h1>
	</div>

	<div th:replace="common::bottom"/>
</body>
</html>