<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Management</title>
    <link rel="stylesheet" href="/css/minireset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/cart.css" />
    <link rel="stylesheet" href="/css/bookManger.css" />
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a th:href="@{/index}">
            <img src="/img/logo.png" alt=""/></a>
          <span>Book Management System</span>
        </div>
        <div th:replace="common::header_manager"/>
      </div>
    </div>
    <div class="list">
      <div class="w">
        <div class="add">
          <a th:href="@{/toAddBookPage}">Add Books</a>
        </div>
        <table>
          <thead>
            <tr>
              <th>Cover</th>
              <th>Book Name</th>
              <th>Current Price</th>
              <th>Original Price</th>
              <th>Author</th>
              <th>Sales</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="book : ${pageInfo.list}" th:object="${book}">
              <td>
                <img th:src="@{|/book/*{bookImg}|}" alt="">
              </td>
              <td th:text="|*{bookName}|">bookName</td>
              <td th:text="|$*{currPrice}|">price</td>
              <td th:text="|$*{origPrice}|">price</td>
              <td th:text="|*{author}|">author</td>
              <td th:text="|*{saleCount}|">sales</td>
              <td th:text="|*{bookCount}|">stock</td>
              <td>
                <a th:href="@{/getCurrBook/{id}(id=${book.id})}">EDIT</a>
                <a th:href="@{/deleteBook/{id}(id=${book.id})}" class="del">DELETE</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="footer">
          <div class="footer-right">
            <ul class="pagination">
              <li>
                <a th:href="@{${'toBookManagerPage'}(pageNum=${1},pageSize=${10})}">Front Page</a>
              </li>
              <li>
                <a th:if="${not isFirstPage}" th:href="@{${'toBookManagerPage'}(pageNum=${pageNum-1},pageSize=${10})}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
                <a th:if="${isFirstPage}" href="javascript:void(0);" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li th:each="pageNo : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                  <span th:text="${pageNo}"></span>
                </a>
                <a th:if="${not (pageNum eq pageNo)}" th:href="@{${'toBookManagerPage'}(pageNum=${pageNo},pageSize=${10})}">
                  <span th:text="${pageNo}"></span>
                </a>
              </li>
              <li>
                <a th:if="${not isLastPage}" th:href="@{${'toBookManagerPage'}(pageNum=${pageNum+1},pageSize=${10})}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
                <a th:if="${isLastPage}" href="javascript:void(0);" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              <li>
                <a th:href="@{${'toBookManagerPage'}(pageNum=${pageInfo.pages},pageSize=${10})}">Last Page</a>
              </li>
            </ul>

            <span th:text="'  Total Pages: ' + ${pageInfo.pages} + ', '">total pages</span>
            <span th:text="'  Total Records: ' + ${pageInfo.total}">total records</span>
          </div>
        </div>
      </div>

    </div>
    <div class="bottom" th:replace="common::bottom_main"/>
  </body>
</html>
