<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Order</title>
    <link rel="stylesheet" th:href="@{css/minireset.css}" />
    <link rel="stylesheet" th:href="@{css/common.css}" />
    <link rel="stylesheet" th:href="@{css/cart.css}" />

    <link rel="stylesheet" th:href="@{css/bookManger.css}" />
    <link rel="stylesheet" th:href="@{css/orderManger.css}" />
  </head>
  <body>
  <div class="header">
    <div class="w">
      <div class="header-left">
        <a th:href="@{/index}">
          <img src="/img/logo.png" alt=""
          /></a>
        <h1>My Order List</h1>
      </div>
      <div th:replace="common::header_right"/>
    </div>
  </div>
    <div class="list">
      <div class="w">
        <table>
          <thead>
            <tr>
              <th>Order No</th>
              <th>Order Date</th>
              <th>Order Price</th>
              <th>Order Quantity</th>
              <th>Order Status</th>
              <th>Order Details</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="orderBean : ${session.loginUser.orderList}" th:object="${orderBean}">
              <td th:text="*{orderNo}">12354456895</td>
              <td th:text="*{orderDate}">2015.04.23</td>
              <td th:text="*{orderMoney}">90.00</td>
              <td th:text="*{totalBookCount}">88</td>
              <td><a href="" class="send">Waiting for shippment</a></td>
              <td><a href="">Details</a></td>
            </tr>

          </tbody>
        </table>
        <div class="footer">
          <div class="footer-right">

          </div>
        </div>
      </div>
    </div>
    <div th:replace="common::bottom_main"/>
  </body>
</html>
