<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Order</title>
    <link rel="stylesheet" th:href="@{css/minireset.css}" />
    <link rel="stylesheet" th:href="@{css/common.css}" />
    <link rel="stylesheet" th:href="@{css/cart.css}" />

    <link rel="stylesheet" th:href="@{css/bookManger.css}" />
    <link rel="stylesheet" th:href="@{css/orderManger.css}" />
  </head>
  <body>
  <div class="header">
    <div class="w">
      <div class="header-left">
        <a th:href="@{/index}">
          <img src="/img/logo.png" alt=""/></a>
        <span>My Order List</span>
      </div>
      <div th:replace="common::header_right"/>
    </div>
  </div>
    <div class="list">
      <div class="w">
        <table>
          <thead>
            <tr>
              <th>Order No</th>
              <th>Order Date</th>
              <th>Order Price</th>
              <th>Book Num</th>
              <th>Order Status</th>
              <th>Order Details</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="order : ${session.orderList}" th:object="${order}">
              <td th:text="*{orderNo}">12354456895</td>
              <td th:text="*{orderDate}">2015.04.23</td>
              <td th:text="*{orderMoney}">90.00</td>
              <td th:text="*{totalBookCount}">5</td>
              <td th:if="${order.orderStatus==0}">Waiting for shipment</td>
              <td th:if="${order.orderStatus==1}">Shipped</td>
              <td th:if="${order.orderStatus==2}">Delivered</td>
              <td th:if="${order.orderStatus==3}" style="color: #a8a8a8">Completed</td>
              <td th:if="${order.orderStatus==4}" style="color: #a8a8a8">Canceled</td>
              <td th:if="${order.orderStatus==5}" style="color: #a8a8a8">Reviewed</td>
              <td><a href="">Details</a></td>
              <td th:if="${order.orderStatus==2}">
                <a th:href="@{/confirmReceipt/{id}(id=${order.id})}"
                  th:confirm-receipt="|Are you sure you have received all the items?|"
                  onclick="if (!confirm(this.getAttribute('confirm-receipt'))) return false">Confirm Receipt</a></td>
              <td th:if="${order.orderStatus==0}">
                <a th:href="@{/cancelOrder/{id}(id=${order.id})}"
                   th:confirm-cancel="|Are you sure you want to cancel this order?|"
                   onclick="if (!confirm(this.getAttribute('confirm-cancel'))) return false">Cancel Order</a></td>
              <td th:if="${order.orderStatus==3}">
                <a th:href="@{/reviewOrder/{id}(id=${order.id})}">Give a Review</a></td>
              <td th:if="${order.orderStatus==4 || order.orderStatus==5}">
                <a th:href="@{/deleteOrder/{id}(id=${order.id})}"
                   th:confirm-delete="|Are you sure you want to delete this order?|"
                   onclick="if (!confirm(this.getAttribute('confirm-delete'))) return false">Delete Order</a></td>
            </tr>
          </tbody>
        </table>
        <div class="footer">
          <div class="footer-right">

          </div>
        </div>
      </div>
    </div>
    <div th:replace="common::bottom_main"/>
  </body>
</html>


<!--
<div href="" class="list-item" th:each="orderItem : ${session.reviewItems}" th:object="${orderItem}">
                <img th:src="@{|/book/*{book.bookImg}|}" alt="">
                <p th:text="|Item Name: *{book.bookName}|" style="font-weight:bold; color: #2a2a2a">bookname</p>
                <p th:text="|Purchased Quantity:*{buyCount}|" style="color: #2a2a2a">Quantity</p>
                <p th:text="|Total Price: $*{book.currPrice}|" style="color: #2a2a2a">Price</p>
                <a th:href="@{/review/{id}(id=${orderItem.book})}" class="btn" type="button">
                  Review</button></a>
              </div>-->

