<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bookStore.mapper.BookMapper">
    <insert id="addBook">
        insert into t_book values (null, null, #{bookName}, #{curr_price}, orig_price = #{orig_price},
                                   #{author}, #{saleCount}, #{bookCount}, #{bookStatus}, #{category})
    </insert>
    <update id="update">
        update t_book set bookName = #{bookName}, curr_price = #{currPrice}, orig_price = #{origPrice}, author = #{author},
                          saleCount = #{saleCount}, bookCount = #{bookCount}, bookStatus = #{bookStatus}, category = #{category}
        where id = #{id}
    </update>
    <delete id="deleteBook">
        delete from t_book where id = #{id}
    </delete>
    <select id="getBookListByStatus" resultType="org.bookStore.pojo.Book">
        select * from t_book where bookStatus = #{bookStatus}
    </select>
    <select id="getBook" resultType="org.bookStore.pojo.Book">
        select * from t_book where id = #{id}
    </select>
    <select id="getBookList" resultType="org.bookStore.pojo.Book">
        select * from t_book
    </select>
    <select id="getBookListByPrice" resultType="org.bookStore.pojo.Book">
        select * from t_book where curr_price between #{price1} and #{price2}
    </select>
    <select id="getBookByName" resultType="org.bookStore.pojo.Book">
        select * from t_book where bookName Like CONCAT('%',#{bookName},'%')
    </select>
    <select id="getAllBookList" resultType="org.bookStore.pojo.Book">
        select * from t_book
            <where>
            <if test="bookName!=null">
                and bookName Like CONCAT('%',#{bookName},'%')
            </if>
            <choose>
                <when test="price1 != null and price2 != null">
                    and curr_price between #{price1} and #{price2}
                </when>
                <when test="price1 != null and price2 = null">
                    and curr_price between #{price1} and 999
                </when>
                <when test="price1 = null and price2 != null">
                    and curr_price between 0 and #{price2}
                </when>
            </choose>
            <if test="category != null">
                and category Like CONCAT('%',#{category},'%')
            </if>
            <if test="bookStatus != null">
                and bookStatus = #{bookStatus}
            </if>
            </where>
    </select>
</mapper>