<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="login_header">
      <a>
        <img class="logo_img" alt="" src="/img/logo.png" />
      </a>
    </div>

    <div class="login_banner">
      <div id="l_content">
        <span class="login_word">Welcome Login</span>
      </div>

      <div id="content">
        <div class="login_form">
          <div class="login_box">
            <div class="tit">
              <h1>BookStore Member</h1>
            </div>
            <div class="msg_cont">
              <b></b>
              <span class="errorMsg">Please enter the username and password</span>
            </div>
            <div class="form">
              <form th:action="@{/login}" method="post" style="text-align: right">
                <input type="hidden" name="operate" value="login"/>
                <label>Username: </label>
                <input class="itxt" type="text" placeholder="Please enter the username" autocomplete="off" tabindex="1"
                  name="uname" id="uname" value="David"/>
                <span th:text="${unameMsg}" style="color:red">uname error msg</span>
                <br />
                <br />
                <label>Password: </label>
                <input class="itxt" type="password" placeholder="Please enter the password" autocomplete="off" tabindex="1"
                  name="pwd" id="pwd" value="david123"/>
                <span th:text="${pwdMsg}" style="color:red">pwd error msg</span>
                <br />
                <br />
                <input type="submit" value="Login" id="sub_btn"/>
              </form>
              <div class="tit">
                <a th:href="@{/toRegisterPage}">Register Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="common::bottom"/>
  </body>
</html>
