<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Register Page</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/register.css" />
    <style type="text/css">
      .login_form {
        height: 420px;
        margin-top: 25px;
      }
    </style>
  </head>
  <body>
    <div id="login_header">
      <a th:href="@{/index}">
        <img class="logo_img" alt="" src="/img/logo.png" />
      </a>
    </div>

    <div class="login_banner">
      <div class="register_form">
        <span>Register BookStore Member</span>
        <form th:action="@{/register}" method="post">
          <div class="form-item">
            <div>
              <label>Username:&nbsp;</label>
              <input type="text" placeholder="Please enter the username" autocomplete="off" tabindex="1"
                     name="uname" id="uname"/>
            </div>
            <span th:text="${unameMsg}">username error msg</span>
          </div><br>
          <div class="form-item">
            <div>
              <label>Password:&nbsp;</label>
              <input type="password" placeholder="Please enter the password" name="pwd" id="pwd"/>
            </div>
            <span th:text="${pwdMsg1}">pwd error msg1</span>
          </div><br>
          <div class="form-item">
            <div>
              <label>Confirm Password:&nbsp;</label>
              <input type="password" placeholder="Please enter the password again" autocomplete="off" tabindex="1"
                     name="pwd2" id="pwd2"/>
            </div>
            <span th:text="${pwdMsg2}">pwd error msg2</span>
          </div><br>
          <div class="form-item">
            <div>
              <label>Email:&nbsp;</label>
              <input type="email" placeholder="please enter your email" autocomplete="off" tabindex="1"
                     name="email" id="email"/>
            </div>
            <span th:text="${emailMsg}">email error msg</span><br>
          </div>
          <button class="btn">Register</button>
        </form>
      </div>
    </div>
    <div th:replace="common::bottom"/>
  </body>
</html>
