<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/minireset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/cart.css" />
  </head>
  <body>
  <div class="header">
    <div class="w">
      <div class="header-left">
        <a th:href="@{/index}">
          <img src="/img/logo.png" alt=""/></a>
        <span>My Cart</span>
      </div>
      <div th:replace="common::header_right"/>
    </div>
  </div>

    <div class="list">
      <div class="w">
        <table>
          <thead>
            <tr>
              <th>Cover</th>
              <th>Book Name</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <tr th:each="cartItem : ${session.loginUser.getCartItemList()}">
            <td>
              <img th:src="@{|/book/${cartItem.book.bookImg}|}" alt="" />
            </td>
            <td th:text="${cartItem.book.bookName}">bookName</td>
            <td>
              <a class="count" th:href="@{/reduceCartItemQuantity/{id}(id=${cartItem.id})}">-</a>
              <input class="count-num" type="text" value="1" th:value="${cartItem.buyCount}"/>
              <a class="count" th:href="@{/increaseCartItemQuantity/{id}(id=${cartItem.id})}">+</a>
            </td>
            <td th:text="${cartItem.book.price*cartItem.getBuyCount()}">0</td>
            <td th:text="${cartItem.xj}">0</td>
            <td><a th:href="@{/deleteCartItem/{id}(id=${cartItem.id})}">DELETE</a></td>
          </tr>
          </tbody>
        </table>
        <div class="footer">
          <div class="footer-left">
            <a th:href="@{/index}">Continue Shopping</a>
          </div>
          <div class="footer-right">
            <div>Total<span th:text="${session.loginUser.getCartItemList().size()}">0</span>items</div>
            <div class="total-price">total price<span th:text="${session.totalPrice}">0</span>元</div>
            <a class="pay" th:href="@{/checkout}">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  <div th:replace="common::bottom_main"/>
  </body>
</html>
