<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Checkout Page</title>
<link type="text/css" rel="stylesheet" href="/css/style.css" >
	<link rel="stylesheet" href="/css/minireset.css" />
	<link rel="stylesheet" href="/css/common.css" />
	<link rel="stylesheet" href="/css/cart.css" />
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
		font-size: 26px;
	}
	.oid{
		color: red;
		font-weight: bolder;
	}
</style>
</head>
<body>
	<div class="header" th:replace="common::header_main"/>
	
	<div id="main">
		<h1>Your Order No:<span class="oid" th:href="@{session.orderId}">546845626455846</span></h1>
	</div>

	<div th:replace="common::bottom"/>
</body>
</html>