<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Checkout Page</title>
<link type="text/css" rel="stylesheet" href="/css/style.css" >
	<link rel="stylesheet" href="/css/minireset.css" />
	<link rel="stylesheet" href="/css/common.css" />
	<link rel="stylesheet" href="/css/cart.css" />
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
		font-size: 26px;
	}
	.oid{
		color: red;
		font-weight: bolder;
	}
</style>
</head>
<body>
<div class="header">
	<div class="w">
		<div class="header-left">
			<a th:href="@{/index}">
				<img src="/img/logo.png" alt=""/></a>
			<span>Checkout</span>
		</div>
		<div th:replace="common::header_right"/>
	</div>
</div>
	
	<div id="main">
		<h1>Your Order No:<span class="oid" th:text="${session.orderNo}">123456</span></h1>
	</div>

	<div th:replace="common::bottom"/>
</body>
</html>